In [ ]:
import pandas as pd
import seaborn as sns
from google.colab import files

In [ ]:
# https://www.kaggle.com/datasets/selener/consumer-complaint-database
# How I cleaned the dataset at link

In [ ]:
df = pd.read_csv("rows.csv", usecols = ['Product','Issue','Company','State','Complaint ID','ZIP code'])

In [ ]:
df.head()

,Product,Issue,Company,State,ZIP code,Complaint ID
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,328XX,3238275
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,98204,3238228
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,751XX,3237964
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,708XX,3238479
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,85205,3238460

In [ ]:
df.shape

(22702, 6)

In [ ]:
cropped_df = df[["Product","Issue","Company","State","Complaint ID","ZIP code"]]

In [ ]:
cropped_df.head(40)

,Product,Issue,Company,State,Complaint ID,ZIP code
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,3238275.0,328XX
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,3238228.0,98204
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,3237964.0,751XX
3,"Credit reporting, credit repair services, or o...",Incorrect information on your report,Ad Astra Recovery Services Inc,LA,3238479.0,708XX
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,AZ,3238460.0,85205
5,Mortgage,Closing on a mortgage,Statebridge Company,NJ,3237885.0,08302
6,Debt collection,Attempts to collect debt not owed,"Diversified Consultants, Inc.",TX,3238585.0,NaN
7,Student loan,Struggling to repay your loan,Student Loan Direct,TX,3238221.0,773XX
8,Debt collection,Attempts to collect debt not owed,"Diversified Consultants, Inc.",SC,3238545.0,296XX
9,"Credit reporting, credit repair services, or o...",Incorrect information on your report,CONTRACT CALLERS INC,MD,3238458.0,20774
10,Vehicle loan or lease,Struggling to pay your loan,ALLY FINANCIAL INC.,NV,3238036.0,891XX
11,Debt collection,False statements or representation,MiraMed Revenue Group LLC,VA,3237941.0,23156
12,Debt collection,Attempts to collect debt not owed,Ad Astra Recovery Services Inc,TX,3238461.0,NaN
13,Debt collection,False statements or representation,"Commonwealth Financial Systems, Inc.",TX,3237971.0,774XX
14,"Credit reporting, credit repair services, or o...",Problem with a credit reporting company's inve...,ALLY FINANCIAL INC.,TX,3237837.0,774XX
15,Debt collection,Took or threatened to take negative or legal a...,NAVY FEDERAL CREDIT UNION,FL,3237928.0,346XX
16,Debt collection,Communication tactics,"MERCANTILE ADJUSTMENT BUREAU, LLC",NY,3238682.0,14609
17,Debt collection,Attempts to collect debt not owed,"HCFS Health Care Financial Services, Inc.",AZ,3237088.0,852XX
18,Student loan,Dealing with your lender or servicer,"National Collection Systems, Inc.",GA,3236907.0,NaN
19,Checking or savings account,Managing an account,ALLY FINANCIAL INC.,CO,3237160.0,81302
20,Debt collection,False statements or representation,"Diversified Consultants, Inc.",NJ,3236983.0,087XX
21,Debt collection,False statements or representation,ALLY FINANCIAL INC.,MI,3237404.0,48185
22,Debt collection,Written notification about debt,"Weltman, Weinberg & Reis Co., L.P.A.",OH,3236857.0,432XX
23,Debt collection,Threatened to contact someone or share informa...,"CASHCALL, INC.",CA,3236737.0,944XX
24,Debt collection,Attempts to collect debt not owed,"Ability Recovery Services, LLC",NC,3237833.0,28216
25,"Credit reporting, credit repair services, or o...",Incorrect information on your report,NISSAN MOTOR ACCEPTANCE CORPORATION,TX,3237655.0,797XX
26,"Credit reporting, credit repair services, or o...",Improper use of your report,FIRST ADVANTAGE CORPORATION,UT,3237100.0,84401
27,Debt collection,Written notification about debt,"Midwest Fidelity Services, LLC",IL,3237425.0,60025
28,Debt collection,Attempts to collect debt not owed,"HCFS Health Care Financial Services, Inc.",FL,3236953.0,33056
29,Debt collection,Written notification about debt,NICHOLAS FINANCIAL INC.,FL,3237247.0,338XX
30,Debt collection,Attempts to collect debt not owed,"SFS, Inc",NC,3236773.0,28752
31,Debt collection,Took or threatened to take negative or legal a...,CURO Intermediate Holdings,ME,3237657.0,04042
32,"Credit reporting, credit repair services, or o...",Incorrect information on your report,"Diversified Consultants, Inc.",FL,3237831.0,328XX
33,Debt collection,Attempts to collect debt not owed,Ad Astra Recovery Services Inc,OR,3237515.0,972XX
34,Mortgage,Closing on a mortgage,"QUICKEN LOANS, INC.",NJ,3237320.0,08619
35,"Credit reporting, credit repair services, or o...",Incorrect information on your report,"The CMI Group, Inc.",SC,3237630.0,297XX
36,Debt collection,Written notification about debt,"NCC Business Services, Inc.",NY,3236839.0,132XX
37,Debt collection,Attempts to collect debt not owed,Sequoia Financial Services,CA,3237250.0,91205
38,Debt collection,Attempts to collect debt not owed,"USCB, INC.",AZ,3236808.0,85713
39,Debt collection,Communication tactics,"TOWER LOAN OF MISSISSIPPI, INC.",LA,3237559.0,NaN

In [ ]:
print("Product Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Product"].isnull().sum()))
print("Issue Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Issue"].isnull().sum()))
print("Company Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Company"].isnull().sum()))
print("State Colonundaki Null değerlerin sayısı : {}".format(cropped_df["State"].isnull().sum()))
print("Complaint ID Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Complaint ID"].isnull().sum()))
print("ZIP code Colonundaki Null değerlerin sayısı : {}".format(cropped_df["ZIP code"].isnull().sum()))
print("Dataframe Shape : {}".format(cropped_df.shape))

Product Colonundaki Null değerlerin sayısı : 0
Issue Colonundaki Null değerlerin sayısı : 0
Company Colonundaki Null değerlerin sayısı : 0
State Colonundaki Null değerlerin sayısı : 868
Complaint ID Colonundaki Null değerlerin sayısı : 1
ZIP code Colonundaki Null değerlerin sayısı : 3586
Dataframe Shape : (24947, 6)

In [ ]:
cropped_df.dropna(axis=0, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
print("Product Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Product"].isnull().sum()))
print("Issue Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Issue"].isnull().sum()))
print("Company Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Company"].isnull().sum()))
print("State Colonundaki Null değerlerin sayısı : {}".format(cropped_df["State"].isnull().sum()))
print("Complaint ID Colonundaki Null değerlerin sayısı : {}".format(cropped_df["Complaint ID"].isnull().sum()))
print("ZIP code Colonundaki Null değerlerin sayısı : {}".format(cropped_df["ZIP code"].isnull().sum()))
print("Dataframe Shape : {}".format(cropped_df.shape))

Product Colonundaki Null değerlerin sayısı : 0
Issue Colonundaki Null değerlerin sayısı : 0
Company Colonundaki Null değerlerin sayısı : 0
State Colonundaki Null değerlerin sayısı : 0
Complaint ID Colonundaki Null değerlerin sayısı : 0
ZIP code Colonundaki Null değerlerin sayısı : 0
Dataframe Shape : (21349, 6)

In [ ]:
cropped_df.reset_index(drop = True,inplace = True)
cropped_dfC = cropped_df.copy()

In [ ]:
cropped_df.dtypes         # float64 olan sütunların dtype si stirng veya object haline getilirmeli

Product          object
Issue            object
Company          object
State            object
Complaint ID    float64
ZIP code         object
dtype: object

In [ ]:
special_ch = ".,:;'-_/"
column_list = ['Product', 'Issue', 'Company']
for x in special_ch:
  for y in range(21349):
    for k in column_list:
      if cropped_df[k][y].find(x) != -1:
        cropped_df[k][y] = cropped_df[k][y].replace(x,"")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
cropped_df.head(10)

,Product,Issue,Company,State,Complaint ID,ZIP code
0,Checking or savings account,Managing an account,NAVY FEDERAL CREDIT UNION,FL,3238275.0,328XX
1,Checking or savings account,Managing an account,BOEING EMPLOYEES CREDIT UNION,WA,3238228.0,98204
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,3237964.0,751XX
3,Credit reporting credit repair services or oth...,Incorrect information on your report,Ad Astra Recovery Services Inc,LA,3238479.0,708XX
4,Checking or savings account,Managing an account,ALLY FINANCIAL INC,AZ,3238460.0,85205
5,Mortgage,Closing on a mortgage,Statebridge Company,NJ,3237885.0,08302
6,Student loan,Struggling to repay your loan,Student Loan Direct,TX,3238221.0,773XX
7,Debt collection,Attempts to collect debt not owed,Diversified Consultants Inc,SC,3238545.0,296XX
8,Credit reporting credit repair services or oth...,Incorrect information on your report,CONTRACT CALLERS INC,MD,3238458.0,20774
9,Vehicle loan or lease,Struggling to pay your loan,ALLY FINANCIAL INC,NV,3238036.0,891XX

In [ ]:
cropped_dfCC = cropped_df.copy()

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
column_list = ['Product', 'Issue', 'Company']
for k in column_list:
  cropped_df[k] = cropped_df[k].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [ ]:
cropped_df.head(10)

,Product,Issue,Company,State,Complaint ID,ZIP code
0,Checking savings account,Managing account,NAVY FEDERAL CREDIT UNION,FL,3238275.0,328XX
1,Checking savings account,Managing account,BOEING EMPLOYEES CREDIT UNION,WA,3238228.0,98204
2,Debt collection,Communication tactics,CURO Intermediate Holdings,TX,3237964.0,751XX
3,Credit reporting credit repair services person...,Incorrect information report,Ad Astra Recovery Services Inc,LA,3238479.0,708XX
4,Checking savings account,Managing account,ALLY FINANCIAL INC,AZ,3238460.0,85205
5,Mortgage,Closing mortgage,Statebridge Company,NJ,3237885.0,08302
6,Student loan,Struggling repay loan,Student Loan Direct,TX,3238221.0,773XX
7,Debt collection,Attempts collect debt owed,Diversified Consultants Inc,SC,3238545.0,296XX
8,Credit reporting credit repair services person...,Incorrect information report,CONTRACT CALLERS INC,MD,3238458.0,20774
9,Vehicle loan lease,Struggling pay loan,ALLY FINANCIAL INC,NV,3238036.0,891XX

In [ ]:
cid_list = []
for i in range(len(cropped_df['Complaint ID'])):
  cid_list.append(str(cropped_df['Complaint ID'][i])[:-2])

In [ ]:
cid_list[0:5]

['3238275', '3238228', '3237964', '3238479', '3238460']

In [ ]:
cropped_df.drop("Complaint ID",axis=1, inplace = True)

In [ ]:
cropped_df.head(2)

,Product,Issue,Company,State,ZIP code
0,Checking savings account,Managing account,NAVY FEDERAL CREDIT UNION,FL,328XX
1,Checking savings account,Managing account,BOEING EMPLOYEES CREDIT UNION,WA,98204

In [ ]:
cropped_df.insert(4, "Complaint ID", cid_list)

In [ ]:
cropped_df.head(2)

,Product,Issue,Company,State,Complaint ID,ZIP code
0,Checking savings account,Managing account,NAVY FEDERAL CREDIT UNION,FL,3238275,328XX
1,Checking savings account,Managing account,BOEING EMPLOYEES CREDIT UNION,WA,3238228,98204

In [ ]:
cropped_df.dtypes

Product         object
Issue           object
Company         object
State           object
Complaint ID    object
ZIP code        object
dtype: object

In [ ]:
cropped_dfCCC = cropped_df.copy()

In [ ]:
cropped_df.to_csv('Temiz.csv', encoding = 'utf-8-sig') 
files.download('Temiz.csv')