In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('country_vaccination_stats_imputed.csv')
df.head()

   Unnamed: 0    country        date  daily_vaccinations   vaccines
0           0  Argentina  12/29/2020                 0.0  Sputnik V
1           1  Argentina  12/30/2020             15656.0  Sputnik V
2           2  Argentina  12/31/2020             15656.0  Sputnik V
3           3  Argentina    1/1/2021             11070.0  Sputnik V
4           4  Argentina    1/2/2021              8776.0  Sputnik V

In [9]:
country_list = df["country"].value_counts().index.to_list()
median_list = []
for i in country_list:
    median_list.append(df[df["country"] == i]['daily_vaccinations'].median())

In [10]:
median_vacc_dict = {'country': country_list,
                    'median_vacc': median_list}

In [11]:
df_median_country = pd.DataFrame(median_vacc_dict)
df_median_country.sort_values(by="median_vacc", ascending=False)[0:3]

          country  median_vacc
5   United States     378253.0
6           China     276786.0
54          India     173922.0